.supertitle {
  display: inline-block;
  position: relative;
  letter-spacing: 0.1rem;
  font-size: 1.125rem;
}
.center:before {
  content: '';
  height: 2px;
  width: 80px;
  background-color: rgb(var(--color-primary));
  position: absolute;
  top: 50%;
  left: -100px;
}
.center:after {
  content: '';
  height: 2px;
  width: 80px;
  background-color: rgb(var(--color-primary));
  position: absolute;
  top: 50%;
  right: -100px;
}
.left {
  padding-left: 110px;
}
.left:before {
  content: '';
  height: 2px;
  width: 80px;
  background-color: rgb(var(--color-primary));
  position: absolute;
  top: 50%;
  left: 0;
}
