.footer {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.logo {
  max-width: 120px;
  &.invert {
    filter: invert(100%);
  }
}
.copyright {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: rgba(var(--color-dark));
}
