@import "~bootstrap/scss/functions";

@import "~bootstrap/scss/variables";
@import '~bootstrap/scss/mixins';

.background-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.content-spacing-large {
  padding-top: 4rem;
  padding-bottom: 4rem;
  @include media-breakpoint-up(lg) {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}
.content-spacing-medium {
  padding-top: 3rem;
  padding-bottom: 3rem;
  @include media-breakpoint-up(lg) {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
  }
}
.content-spacing-small {
  padding-top: 2.3;
  padding-bottom: 2.3rem;
  @include media-breakpoint-up(lg) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
