@import './variables';
// Navbar
.navbar {
  transition: all 0.3s ease-out;
  &.scroll {
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 20%);
  }
  &:not(.scroll) {
    @include media-breakpoint-up(lg) {
      padding-top: 1.8rem;
      padding-bottom: 1.8rem;
    }
  }
}
// Buttons
.btn {
  letter-spacing: 0.1rem;
  &.animate {
    transition: all 0.3s ease-out;
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2) !important;
    }
  }
}
