/* Card */
.card {
  border-radius: 0;
}
.card-body {
  border-radius: 0;
  padding: 0;
}
/* Borders */
.border-bottom-primary {
  border-bottom: 5px solid rgba(var(--color-primary));
}
/* Form */
.form-control:focus {
  border-color: rgba(var(--color-primary));
  box-shadow: 0 0 0.5rem 0.25rem rgba(147, 98, 73, 0.15);
}
.form-control {
  padding: 0.775rem 1.15rem;
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  background-color: #fff;
  color: rgba(var(--color-primary));
}
.accordion-button:focus {
  background-color: #fff;
  color: rgba(var(--color-primary));
  border-color: rgba(var(--color-primary));
}
.accordion-button:focus.collapsed {
  color: #000;
}
.accordion-button:hover {
  color: rgba(var(--color-primary));
}
.accordion-button {
  font-weight: 700;
}
