@import './bootstrapVariables';
// Font utilities
.font-primary {
  font-family: $font-primary;
}
.font-secondary {
  font-family: $font-secondary;
}
// Navbar
.navbar {
  transition: all 0.3s ease-out;
  &.scroll {
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 20%);
  }
  &:not(.scroll) {
    @include media-breakpoint-up(lg) {
      padding-top: 1.8rem;
      padding-bottom: 1.8rem;
    }
  }
}
// Sections
section {
  &:first-of-type {
    padding-top: 72px;
    @include media-breakpoint-up(lg) {
      padding-top: 115px;
    }
  }
}
// Buttons
.btn {
  letter-spacing: 0.1rem;
  &.animate {
    transition: all 0.3s ease-out;
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2) !important;
    }
  }
}
// Links
a {
  transition: color 0.3s ease-out;
  &.link-light:hover {
    color: $dark !important;
  }
}
// Overlay
.overlay-dark {
  position: relative;
  &::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0;
    background: linear-gradient(
      0deg,
      rgba(35, 43, 51, 0.9) 10%,
      rgba(35, 43, 51, 0.3) 40%,
      rgba(14, 14, 14, 0.1) 100%
    );
  }
}
// Borders
.border-bottom-primary {
  border-bottom: 5px solid $primary;
}
// Icons
.icon-lg {
  font-size: $font-size-base * 1.8;
  @include media-breakpoint-up(sm) {
    font-size: $font-size-base * 2.5;
  }
  @include media-breakpoint-up(md) {
    font-size: $font-size-base * 3.2;
  }
}
// Accordions
.accordion-header-bold {
  button {
    font-weight: 700;
  }
}
// Box shadow
.shadow-dark {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}
